body{
	
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
}
.top{
	margin:0 0 0 10%;
}
.menu li{
	display:inline-block;
	margin-left:28px;
	text-align:right;
	font-size:18px;
}
.menu li:hover{
	color:#02b8dc;
	cursor:pointer;
}
.form{
	height:500px;
	background: url(../images/bannerBg.png) no-repeat;
	position:relative;
	box-sizing: border-box;
}
.formarea{
	background-color:#fff;
	padding:40px 80px 20px 80px;
	height:190px;
	width:500px;
}
.formarea label{
    display: inline-block;
	color:#6d6e71;
	font-size:14px;
	padding-bottom:2px;
}
.text{
	display: block;
    width: 100%;
    height: 34px;
    padding: 2px 6px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button{
	color:#fff;
	background-color:#EF5A29;
	width:140px;
	height:47px;
	margin-top:15px;
}
.submitdiv {
	text-align: center;
}
.bantext{
	text-align:left;
	font-size:32px;
	color:#1f435e;
}
.reasontext{
	text-align:center;
	font-size:32px;
	color:#1f435e;
}
.reasons{
	text-align: center;
	background-color: #C7E7F9;
	padding:30px;
}
.reasons li{
		display:inline-block;
}
.lorem{
	padding-top:15px;
	font-size:18px;
	color:1c3a50
}
.deal{
	text-align: center;
	font-size: 36px;
	margin:40px 0 5px 0;
}
.join{
	background-color:#02b8dc;
	padding:22px;
	text-align:center;
	font-size:24px;
	color:#fff;
}
.join button{
	width:160px;
	height:42px;
	font-size:18px;
	color:#fff;
	background-color:#02b8dc;
	border:2px solid #fff;
}
.footer{
	background-color:#1c3a50;
	margin-top:50px;
	padding-top:50px;
}
.links{
	box-sizing: border-box;
	display:table-cell;
	padding-left:100px;
}
.links li{
	list-style:none;
	padding-bottom:5px;
	font-size:16px;
	color:#fff;

}
.copyright{
	font-size:12px;
	color:#8e9da8;
	padding:25px 0 20px 140px;
}